.banner-area .content-padding {
    padding: 250px 0px 180px;
  }

body{
    background-color: #ccddff;
    font-family: "Roboto";
}
.d-table {
    width: 100%;
  }

.d-table-cell {
    vertical-align: middle;
}

/*-------- Button --------*/
.btn {
    font: 600 10.5px/1;
    display: inline-block;
    padding: 15px 45px 15px 45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all .2s;
    border-radius: 0px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}
.btn-circled {
    border-radius: 40px;
}
.btn-white {
    background-color: #112D4E;
    color: rgba(255, 255, 255, 0.95) ;
}
.btn-white:hover {
    color: #fff !important;
    background: #635CDB;
}

.btn-tambah{
    border-radius: 10px;
    background-color: #112D4E;
    color: rgba(255, 255, 255, 0.95) ;
    padding: 8px 20px 8px 20px;
    font-size: 10pt;
    margin-bottom: 5px;
}

/*-----------FORM---------- */
.form-signin{
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.form-signin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 2;
    border-bottom-left-radius: 2;
}

.form-signin .btn{
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%)
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 0px;
  
}

.sebagai{
    margin: 20px;
}

/* ------------TABEL----------------- */
input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Scroll bar ]*/
  .js-pscroll {
    position: relative;
    overflow: hidden;
  }
  
  .table100 .ps__rail-y {
    width: 9px;
    background-color: transparent;
    opacity: 1 !important;
    right: 5px;
  }
  
  .table100 .ps__rail-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #ebebeb;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
  
  .table100 .ps__rail-y .ps__thumb-y {
    width: 100%;
    right: 0;
    background-color: transparent;
    opacity: 1 !important;
  }
  
  .table100 .ps__rail-y .ps__thumb-y::before {
    content: "";
    display: block;
    position: absolute;
    background-color: #cccccc;
    border-radius: 5px;
    width: 100%;
    height: calc(100% - 30px);
    left: 0;
    top: 15px;
  }
.limiter {
    width: 1366px;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    min-height: 50vh;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 30px;
  }
  
  .wrap-table100 {
    width: 1170px;
  }
  .table100 {
    background-color: #fff;
  }
  
  table {
    width: 100%;
  }
  
  th, td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    width: 33%;
    padding-left: 40px;
  }
  
  .column2 {
    width: 13%;
  }
  
  .column3 {
    width: 22%;
  }
  
  .column4 {
    width: 19%;
  }
  
  .column5 {
    width: 13%;
  }
  
  .table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  
  .table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  /*==================================================================
[ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 60px;
  }
  
  .table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .table100-body {
    max-height: 585px;
    overflow: auto;
  }

  /*===========================Tabel Data==============================
[ Ver2 ]*/

.table100.ver2 .table100-head {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .table100.ver2 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fa4251;
    line-height: 1.4;
  
    background-color: transparent;
  }
  
  .table100.ver2 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver2 .table100-body tr {
    border-bottom: 1px solid #f2f2f2;
  }
  
  /*---------------------------------------------*/
  
  .table100.ver2 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }
  
  .table100.ver2 .ps__rail-y {
    right: 5px;
  }
  
  .table100.ver2 .ps__rail-y::before {
    background-color: #ebebeb;
  }
  
  .table100.ver2 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }